@theme {
  /* primary */
  --color-primary: var(--color-sky-500);
  --color-on-primary: var(--color-white);
  --color-primary-container: var(--color-sky-900);
  --color-on-primary-container: var(--color-sky-200);

  /* secondary */
  --color-secondary: var(--color-slate-400);
  --color-on-secondary: var(--color-slate-950);
  --color-secondary-container: var(--color-slate-800);
  --color-on-secondary-container: var(--color-slate-200);

  /* tertiary */
  --color-tertiary: var(--color-indigo-400);
  --color-on-tertiary: var(--color-indigo-950);
  --color-tertiary-container: var(--color-indigo-900);
  --color-on-tertiary-container: var(--color-indigo-200);

  /* error */
  --color-error: var(--color-red-400);
  --color-on-error: var(--color-red-950);
  --color-error-container: var(--color-red-900);
  --color-on-error-container: var(--color-red-200);

  /* surface */
  --color-surface: var(--color-slate-900);
  --color-surface-container-lowest: var(--color-slate-950);
  --color-surface-container-low: var(--color-slate-900);
  --color-surface-container: var(--color-slate-800);
  --color-surface-container-high: var(--color-slate-700);
  --color-surface-container-highest: var(--color-slate-600);
  --color-on-surface: var(--color-slate-100);
  --color-on-surface-variant: var(--color-slate-400);

  /* outline */
  --color-outline: var(--color-slate-500);
  --color-outline-variant: var(--color-slate-700);
}
